node_modules/
dist/
build/
coverage/

.nx/
.cache/
.vite/

.react-router/

*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
